html,body{
    height: 100vh;
}
#root,.home{
    height: 100%;
}
a{
    text-decoration: none;
}
.dropdown-menu{
    font-size: large;
    position: absolute!important;
    transform: translate(0,2.5%);
}
.container{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}
img{
    max-width: 100%;
}
.text, .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    font-size: xx-large;
    align-items: flex-start;
}
.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .navbar-brand{
        font-size: x-large;
    }
    .banner{
      flex-direction: column;
      justify-content: space-evenly;
    }
    .banner{
        height: 100%;
    }
    .text,.image{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}